---
layout: default
name: Jake
description: |
  I'm a full-stack software development engineer who can help you launch your product to new heights.
tagline: |
  Ready to pursue your next creative idea? Get in touch!
permalink: /
---

<div class="mx-auto max-w-7xl lg:px-8 mt-16 sm:mt-32">
  <div class="relative px-4 sm:px-8 lg:px-12">
    <div class="mx-auto max-w-2xl lg:max-w-5xl">
      <div class="grid grid-cols-1 gap-y-16 lg:grid-cols-2 lg:grid-rows-[auto_1fr] lg:gap-y-12">
        <div class="lg:px-20">
          <div class="max-w-[250px] px-2.5 lg:max-w-[300px]">
            <figure class="aspect-square">
              <img src="/images/headshot.jpg" alt="Jake Duchesne" class="sm:-rotate-3 rounded-2xl bg-zinc-100 object-cover object-top">
              <figcaption class="sr-only">Jake Duchesne</figcaption>
            </figure>
          </div>
        </div>
    
        <div class="lg:row-span-2">
          <h1 class="text-4xl font-bold tracking-tight text-zinc-800 sm:text-5xl">
          <span class="block">Hey, I'm Jake!</span>
        </h1>

        <p class="mt-6 text-2xl text-zinc-600 font-medium"><%= resource.data.description %></p>

        <p class="mt-6 text-2xl text-zinc-600 font-medium"><%= resource.data.tagline %></p>

        <div class="mt-6 flex gap-6">
          <% site.data.links.each do |title, social| %>
            <a href="<%= social %>" aria-label="<%= title %>" class="group -m-1 p-1">
              <%= svg "/images/icons/#{title}.svg", class: "h-6 w-6 fill-zinc-400 transition group-hover:fill-zinc-600" %>
            </a>
          <% end %>
        </div>
      </div>
    </div>
  </div>

  <div class="md:flex md:items-center md:justify-between mt-16">
    <div class="min-w-0 flex-1">
      <h2 class="text-2xl font-bold leading-7 text-gray-900 sm:truncate sm:text-3xl sm:tracking-tight">Move Fast, Break Nothing</h2>
      <p class="mt-4 text-2xl text-zinc-600 font-medium">This is the tech I use to get the job done 🚀</p>
    </div>
  </div>

  <div class="bg-gray-900 py-24 sm:py-32 mt-12 rounded-md">
    <div class="mx-auto max-w-7xl px-6 lg:px-8">
      <div class="-mx-6 grid grid-cols-2 gap-0.5 overflow-hidden sm:mx-0 sm:rounded-2xl md:grid-cols-3">
        
        <div class="bg-white/5 p-6 sm:p-10 grid place-content-center">
          <%= svg "/images/rails.svg", class: "h-12 w-full", alt: "Rails" %>
        </div>
        <div class="bg-white/5 p-6 sm:p-10 grid place-content-center">
          <%= svg "/images/hotwire.svg", class: "h-12 w-full", alt: "Hotwire" %>
        </div>
        <div class="bg-white/5 p-6 sm:p-10 grid place-content-center">
          <%= svg "/images/tailwind.svg", class: "h-12 w-full", alt: "Tailwind" %>
        </div>
        <div class="bg-white/5 p-8 sm:p-10 flex justify-center items-center gap-2">
          <%= svg "/images/ruby.svg", class: "h-12 w-full", alt: "Ruby" %>
        </div>
        <div class="bg-white/5 p-6 sm:p-10 grid place-content-center">
          <%= svg "/images/vue.svg", class: "h-12 w-full", alt: "Vue" %>
        </div>
        <div class="bg-white/5 p-6 sm:p-10 grid place-content-center">
          <%= svg "/images/react.svg", class: "h-12 w-full", alt: "React" %>
        </div>
      </div>
    </div>
  </div>
</div>
