---
layout: default
name: Jake
description: |
  I'm a full-stack software development engineer who can help you launch your product to new heights.
tagline: |
  Ready to pursue your next creative idea? Let's get to work!
permalink: /
---

<div class="mx-auto max-w-7xl lg:px-8 mt-16 sm:mt-32">
  <div class="relative px-4 sm:px-8 lg:px-12">
    <div class="mx-auto max-w-2xl lg:max-w-5xl">
      <div class="grid grid-cols-1 gap-y-16 lg:grid-cols-2 lg:grid-rows-[auto_1fr] lg:gap-y-12">
        <div class="lg:px-20">
          <div class="max-w-[250px] px-2.5 lg:max-w-[300px]">
            <figure class="aspect-square">
              <img src="/images/headshot.jpg" alt="Jake Duchesne" class="rounded-2xl bg-zinc-100 object-cover object-top">
              <figcaption class="sr-only">Jake Duchesne</figcaption>
            </figure>
          </div>
        </div>
    
        <div class="lg:row-span-2">
          <h1 class="text-4xl font-bold tracking-tight text-zinc-800 sm:text-5xl">
          <span class="block">Hey, I'm Jake!</span>
        </h1>

        <p class="mt-6 text-2xl text-zinc-600 font-medium"><%= resource.data.description %></p>

        <p class="mt-6 text-2xl text-zinc-600 font-medium"><%= resource.data.tagline %></p>

        <div class="mt-6 flex gap-6">
          <% site.data.links.each do |title, social| %>
            <a href="<%= social %>" aria-label="<%= title %>" class="group -m-1 p-1">
              <%= svg "/images/icons/#{title}.svg", class: "h-6 w-6 fill-zinc-400 transition group-hover:fill-zinc-600" %>
            </a>
          <% end %>
        </div>
      </div>
    </div>
  </div>

  <div class="bg-gray-50 rounded-xl mt-16">
    <div class="mx-auto max-w-7xl py-16 sm:px-2 sm:py-16 lg:px-4">
      <div class="mx-auto max-w-2xl px-4 lg:max-w-none">
        <div class="grid grid-cols-1 items-center gap-y-10 gap-x-16 lg:grid-cols-2">
          <div>
            <h2 class="text-4xl font-bold tracking-tight text-gray-900">What do you get when we work together?</h2>
            <p class="mt-4 text-gray-500">I've been fortunate to have some incredible experiences working on problems that I believe in and care deeply about. Through those exposures, I've learned, grown and gained insight on how to be a solid teammate and a dependable engineer. These are a few of the core tenets I bring to any project or team.</p>
          </div>
          <img src="/images/work_selfie.jpg" alt="myself with two of my coworkers at Nikola, smiling and taking a selfie" class="hidden lg:block aspect-[1/1] max-h-[320px] place-self-center object-cover rounded-lg object-center">
        </div>
        <div class="mt-16 grid grid-cols-1 gap-y-10 gap-x-8 lg:grid-cols-3">
          <div class="sm:flex lg:block">
            <div class="sm:flex-shrink-0">
              <img class="h-16 w-16" src="/images/team.png" alt="">
            </div>
            <div class="mt-4 sm:mt-0 sm:ml-6 lg:mt-6 lg:ml-0">
              <h3 class="text-sm font-medium text-gray-900">Team First Mentality</h3>
              <p class="mt-2 text-sm text-gray-500">A team succeeds and fails together. Borderless engineering has helped me collaborate across teams, helping to clear organization level blockers. I strive to level up my teammates when I can and learn from the people around me.</p>
            </div>
          </div>

          <div class="sm:flex lg:block">
            <div class="sm:flex-shrink-0">
              <img class="h-16 w-16" src="/images/collab.png" alt="">
            </div>
            <div class="mt-4 sm:mt-0 sm:ml-6 lg:mt-6 lg:ml-0">
              <h3 class="text-sm font-medium text-gray-900">Start-up Pace</h3>
              <p class="mt-2 text-sm text-gray-500">My experiences are primarily in fast-paced, high velocity environments where adaptability and collaboration are key. When every ounce of engineering effort matters, you can count on me to do what it takes to get to the finish line.</p>
            </div>
          </div>

          <div class="sm:flex lg:block">
            <div class="sm:flex-shrink-0">
              <img class="h-16 w-16" src="/images/safety.png" alt="">
            </div>
            <div class="mt-4 sm:mt-0 sm:ml-6 lg:mt-6 lg:ml-0">
              <h3 class="text-sm font-medium text-gray-900">Ship Fast, Ship Safe</h3>
              <p class="mt-2 text-sm text-gray-500">Speed matters, but only if it works. Building robust, well-tested and resilient applications by following best practices and writing readable code are at the center of my focus.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="md:flex md:items-center md:justify-between mt-16">
    <div class="min-w-0 flex-1">
      <h2 class="text-2xl font-bold leading-7 text-gray-900 sm:truncate sm:text-3xl sm:tracking-tight">Move Fast, Break Nothing</h2>
      <p class="mt-4 text-2xl text-zinc-600 font-medium">Tech I use to get the job done. 🚀</p>
    </div>
  </div>

  <div class="bg-gray-900 py-24 sm:py-32 mt-12 rounded-md">
    <div class="mx-auto max-w-7xl px-6 lg:px-8">
      <div class="-mx-6 grid grid-cols-2 gap-0.5 overflow-hidden sm:mx-0 sm:rounded-2xl md:grid-cols-3">
        
        <div class="bg-white/5 p-6 sm:p-10 grid place-content-center">
          <%= svg "/images/rails.svg", class: "h-12 w-full", alt: "Rails" %>
        </div>
        <div class="bg-white/5 p-6 sm:p-10 grid place-content-center">
          <%= svg "/images/hotwire.svg", class: "h-12 w-full", alt: "Hotwire" %>
        </div>
        <div class="bg-white/5 p-6 sm:p-10 grid place-content-center">
          <%= svg "/images/tailwind.svg", class: "h-12 w-full", alt: "Tailwind" %>
        </div>
        <div class="bg-white/5 p-8 sm:p-10 flex justify-center items-center gap-2">
          <%= svg "/images/ruby.svg", class: "h-12 w-full", alt: "Ruby" %>
        </div>
        <div class="bg-white/5 p-6 sm:p-10 grid place-content-center">
          <%= svg "/images/vue.svg", class: "h-12 w-full", alt: "Vue" %>
        </div>
        <div class="bg-white/5 p-6 sm:p-10 grid place-content-center">
          <%= svg "/images/react.svg", class: "h-12 w-full", alt: "React" %>
        </div>
      </div>
    </div>
  </div>
</div>
