---
layout: default
title: Work
permalink: /work/
---
<%= render UI::Container.new do %>
  <%= render WorkCard.new(company: "Nikola", location: "Phoenix, AZ", role: "Software Engineer", start_date: "June 2020", current: true) do |card| %>
    <%= card.with_tech do %>
      <div class="grid grid-flow-col-dense gap-6 w-fit place-items-center">
        <%= svg "/images/tech_logos/ruby.svg", class: "w-12 h-12" %>
        <%= svg "/images/tech_logos/rails.svg", class: "w-12 h-12" %>
        <%= svg "/images/tech_logos/javascript.svg", class: "w-12 h-12" %>
        <%= svg "/images/tech_logos/css.svg", class: "w-12 h-12" %>
        <%= svg "/images/hotwire.svg", class: "w-12 h-12" %>
      </div>
    <% end %>
    <%= card.with_description do %>
      
    <% end %>
    <%= card.with_content_section do %>
      <div class="sm:col-span-2">
        <div class="flow-root">
          <ul role="list" class="-mb-8">
            <li>
              <div class="relative pb-8">
                <span class="absolute top-4 left-4 -ml-px h-full w-0.5 bg-gray-200" aria-hidden="true"></span>
                <div class="relative flex space-x-3">
                  <div>
                    <span class="h-8 w-8 rounded-full bg-green-500 flex items-center justify-center ring-8 ring-white">
                      <%= svg "/images/generic_icons/double_chevron_up.svg" %>
                    </span>
                  </div>
                  <div class="flex min-w-0 flex-1 justify-between space-x-4 pt-1.5">
                    <div>
                      <p class="text-sm text-gray-500">Promoted to <span class="font-medium text-gray-900">Software Engineer</span></p>
                    </div>
                    <div class="whitespace-nowrap text-right text-sm text-gray-500">
                      <time datetime="2020-09-28">Jun 2022</time>
                    </div>
                  </div>
                </div>
              </div>
            </li>
        
            <li>
              <div class="relative pb-8">
                <span class="absolute top-4 left-4 -ml-px h-full w-0.5 bg-gray-200" aria-hidden="true"></span>
                <div class="relative flex space-x-3">
                  <div>
                    <span class="h-8 w-8 rounded-full bg-green-500 flex items-center justify-center ring-8 ring-white">
                      <%= svg "/images/generic_icons/double_chevron_up.svg" %>
                    </span>
                  </div>
                  <div class="flex min-w-0 flex-1 justify-between space-x-4 pt-1.5">
                    <div>
                      <p class="text-sm text-gray-500">Promoted to <a href="#" class="font-medium text-gray-900">Junior Software Engineer</a></p>
                    </div>
                    <div class="whitespace-nowrap text-right text-sm text-gray-500">
                      <time datetime="2020-09-30">Dec 2020</time>
                    </div>
                  </div>
                </div>
              </div>
            </li>
        
            <li>
              <div class="relative pb-8">
                <div class="relative flex space-x-3">
                  <div>
                    <span class="h-8 w-8 rounded-full bg-blue-500 flex items-center justify-center ring-8 ring-white">
                      <%= svg "/images/generic_icons/briefcase.svg" %>
                    </span>
                  </div>
                  <div class="flex min-w-0 flex-1 justify-between space-x-4 pt-1.5">
                    <div>
                      <p class="text-sm text-gray-500">Hired as <a href="#" class="font-medium text-gray-900">Apprentice Software Engineer</a></p>
                    </div>
                    <div class="whitespace-nowrap text-right text-sm text-gray-500">
                      <time datetime="2020-10-04">Jun 2020</time>
                    </div>
                  </div>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>

      <div class="sm:col-span-2">
        <dt class="text-sm font-medium text-gray-500">Media</dt>
        <dd class="mt-1 text-sm text-gray-900">
          <ul role="list" class="divide-y divide-gray-200 rounded-md border border-gray-200">
            <li class="flex items-center justify-between py-3 pl-3 pr-4 text-sm">
              <div class="flex w-0 flex-1 items-center">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                  <path stroke-linecap="round" d="M15.75 10.5l4.72-4.72a.75.75 0 011.28.53v11.38a.75.75 0 01-1.28.53l-4.72-4.72M4.5 18.75h9a2.25 2.25 0 002.25-2.25v-9a2.25 2.25 0 00-2.25-2.25h-9A2.25 2.25 0 002.25 7.5v9a2.25 2.25 0 002.25 2.25z" />
                </svg>              
                <span class="ml-2 w-0 flex-1 truncate">Driving Change: Engineered Design</span>
              </div>
              <div class="ml-4 flex-shrink-0">
                <a href="https://youtu.be/S3N8TSulvnM" target="_new" class="font-medium text-indigo-600 hover:text-indigo-500">View</a>
              </div>
            </li>
          </ul>
        </dd>
      </div>
    <% end %>
  <% end %>
<% end %>
