---
layout: default
title: Work
permalink: /work/
---
<%= render UI::Container.new do %>
  <%= render WorkCard.new(company: "Nikola", location: "Phoenix, AZ", role: "Software Engineer", start_date: "June 2020", current: true, image: "/images/nikola-logo.svg") do |card| %>
    <%= card.with_tech do %>
      <div class="flex gap-2 w-fit flex-wrap">
        <%= render Utility::Tag.new("Ruby") %>
        <%= render Utility::Tag.new("Rails") %>
        <%= render Utility::Tag.new("Hotwire") %>
        <%= render Utility::Tag.new("Stimulus") %>
        <%= render Utility::Tag.new("Turbo") %>
        <%= render Utility::Tag.new("Tailwind") %>
        <%= render Utility::Tag.new("Vue") %>
        <%= render Utility::Tag.new("Javascript") %>
        <%= render Utility::Tag.new("HTML") %>
        <%= render Utility::Tag.new("CSS") %>
      </div>
    <% end %>
    <%= card.with_description do %>
      
    <% end %>
    <%= card.with_content_section do %>
      <div class="w-full flex flex-col sm:col-span-2">
        <span class="text-sm font-medium text-gray-500">Timeline</span>
          
        <div class="sm:col-span-2 pt-4">
          <div class="flow-root">
            <ul role="list" class="-mb-8">
              <li>
                <div class="relative pb-8">
                  <span class="absolute top-4 left-4 -ml-px h-full w-0.5 bg-gray-200" aria-hidden="true"></span>
                  <div class="relative flex space-x-3">
                    <div>
                      <span class="h-8 w-8 rounded-full bg-nikola flex items-center justify-center ring-8 ring-white text-white">
                        <%= svg "/images/generic_icons/double_chevron_up.svg" %>
                      </span>
                    </div>
                    <div class="flex min-w-0 flex-1 justify-between space-x-4 pt-1.5">
                      <div>
                        <p class="text-sm text-gray-500">Promoted to <span class="font-medium text-gray-900">Software Engineer</span></p>
                      </div>
                      <div class="whitespace-nowrap text-right text-sm text-gray-500">
                        <time datetime="2022-06">Jun 2022</time>
                      </div>
                    </div>
                  </div>
                </div>
              </li>
              
              <li>
                <div class="relative pb-8">
                  <span class="absolute top-4 left-4 -ml-px h-full w-0.5 bg-gray-200" aria-hidden="true"></span>
                  <div class="relative flex space-x-3">
                    <div>
                      <span class="h-8 w-8 rounded-full bg-nikola flex items-center justify-center ring-8 ring-white text-white">
                        <%= svg "/images/generic_icons/double_chevron_up.svg" %>
                      </span>
                    </div>
                    <div class="flex flex-col flex-1">
                      <div class="flex min-w-0 flex-1 justify-between space-x-4 pt-1.5">
                        <div>
                          <p class="text-sm text-gray-500">Promoted to <span class="font-medium text-gray-900">Junior Software Engineer</span></p>
                        </div>
                        <div class="whitespace-nowrap text-right text-sm text-gray-500">
                          <time datetime="2020-12">Dec 2020</time>
                        </div>
                      </div>
                      <div class="text-sm break-normal">
                        <p class="mt-4 mb-2">Having solidified a place for myself on the website team and deepening my understanding of Ruby on Rails and web development knowledge, it was time to begin making a bigger impact.</p>
                        <p class="mt-4 mb-2">Near the end of 2021, I had the opportunity to begin transitioning teams to work on Nikola Fleet Command, a service that would provide unrivaled connectivity for our vehicles.</p>
                        <p class="mt-4 mb-2">Fleet Command would make data and diagnostic tools available for our engineers as well as allow our customers to track their fleets, collect data and stay connected. Additionally, we'd implement critical API integration with our vehicles and mobile app; giving us the ability to perform over-the-air updates, issue remote commands and much more.</p>
                        <p class="mt-4 mb-2">We were setting out to take our proof of concept build from the ground all the way to the cloud.</p>
                      </div>
                    </div>
                  </div>
                </div>
              </li>

              <li>
                <div class="relative pb-8">
                  
                  <div class="relative flex space-x-3">
                    <div>
                      <span class="h-8 w-8 rounded-full bg-nikola flex items-center justify-center ring-8 ring-white text-white">
                        <%= svg "/images/generic_icons/briefcase.svg" %>
                      </span>
                    </div>
                    <div class="flex flex-col flex-1">
                      <div class="flex min-w-0 flex-1 justify-between space-x-4 pt-1.5">
                        <div>
                          <p class="text-sm text-gray-500">Hired as <span class="font-medium text-gray-900">Apprentice Software Engineer</span></p>
                        </div>
                        <div class="whitespace-nowrap text-right text-sm text-gray-500">
                          <time datetime="2020-06">Jun 2020</time>
                        </div>
                      </div>
                      <div class="text-sm break-normal">
                        <p class="mt-4 mb-2">I started at Nikola with technical documentation, a skill I had developed previously from my time at Byton. I was tasked with improving and updating all of the documents for our microservice architecture, which helped give me a deep understanding of the systems that made our vehicle work.</p>
                        <p class="mt-4 mb-2">At the same time, I was given my first introduction to Ruby on Rails and instantly fell in love with the language. I began working on our public website and internal tooling, which was my first exposure to web development.</p>
                        <p class="mt-4 mb-2">During this time I created a web scraping utility to keep our SEC documents up to date, successfully transitioned our public site to match our evolved branding, and provided many internal tools for our teams. I'm most proud of how I was able to integrate myself tightly with the design team, establishing a rapport that continues to last.</p>
                      </div>
                    </div>
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
      

      <div class="sm:col-span-2">
        <dt class="text-sm font-medium text-gray-500">Highlights</dt>
        <dd class="mt-1 text-sm text-gray-900">
          <ul role="list" class="divide-y divide-gray-200 rounded-md border border-gray-200">
            <li class="flex items-center justify-between py-3 pl-3 pr-4 text-sm">
              <div class="flex w-0 flex-1 items-center">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                  <path stroke-linecap="round" d="M15.75 10.5l4.72-4.72a.75.75 0 011.28.53v11.38a.75.75 0 01-1.28.53l-4.72-4.72M4.5 18.75h9a2.25 2.25 0 002.25-2.25v-9a2.25 2.25 0 00-2.25-2.25h-9A2.25 2.25 0 002.25 7.5v9a2.25 2.25 0 002.25 2.25z" />
                </svg>              
                <span class="ml-2 w-0 flex-1 truncate">Driving Change: Engineered Design</span>
              </div>
              <div class="ml-4 flex-shrink-0">
                <a href="https://youtu.be/S3N8TSulvnM" class="font-medium text-signature hover:text-nikola">View</a>
              </div>
            </li>
            <li class="flex items-center justify-between py-3 pl-3 pr-4 text-sm">
              <div class="flex w-0 flex-1 items-center">
                <svg class="h-5 w-5 flex-shrink-0 text-gray-400" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                  <path fill-rule="evenodd" d="M15.621 4.379a3 3 0 00-4.242 0l-7 7a3 3 0 004.241 4.243h.001l.497-.5a.75.75 0 011.064 1.057l-.498.501-.002.002a4.5 4.5 0 01-6.364-6.364l7-7a4.5 4.5 0 016.368 6.36l-3.455 3.553A2.625 2.625 0 119.52 9.52l3.45-3.451a.75.75 0 111.061 1.06l-3.45 3.451a1.125 1.125 0 001.587 1.595l3.454-3.553a3 3 0 000-4.242z" clip-rule="evenodd" />
                </svg>             
                <span class="ml-2 w-0 flex-1 truncate">Nikola Website</span>
              </div>
              <div class="ml-4 flex-shrink-0">
                <a href="https://nikolamotor.com/" class="font-medium text-signature hover:text-nikola">View</a>
              </div>
            </li>
            <li class="flex items-center justify-between py-3 pl-3 pr-4 text-sm">
              <div class="flex w-0 flex-1 items-center">
                <svg class="h-5 w-5 flex-shrink-0 text-gray-400" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                  <path fill-rule="evenodd" d="M15.621 4.379a3 3 0 00-4.242 0l-7 7a3 3 0 004.241 4.243h.001l.497-.5a.75.75 0 011.064 1.057l-.498.501-.002.002a4.5 4.5 0 01-6.364-6.364l7-7a4.5 4.5 0 016.368 6.36l-3.455 3.553A2.625 2.625 0 119.52 9.52l3.45-3.451a.75.75 0 111.061 1.06l-3.45 3.451a1.125 1.125 0 001.587 1.595l3.454-3.553a3 3 0 000-4.242z" clip-rule="evenodd" />
                </svg>            
                <span class="ml-2 w-0 flex-1 truncate">Nikola EU Website</span>
              </div>
              <div class="ml-4 flex-shrink-0">
                <a href="https://eu.nikolamotor.com/" class="font-medium text-signature hover:text-nikola">View</a>
              </div>
            </li>
          </ul>
        </dd>
      </div>
    <% end %>
  <% end %>
<% end %>
