<footer>
  <div class="mx-auto max-w-7xl overflow-hidden py-20 px-6 sm:py-24 lg:px-8">
    <nav class="-mb-6 columns-2 sm:flex sm:justify-center sm:space-x-12" aria-label="Footer">
      <div class="pb-6">
        <a class="text-sm leading-6 text-gray-600 hover:text-gray-900" href="<%= relative_url '/about' %>">About</a>
      </div>

      <div class="pb-6">
        <a class="text-sm leading-6 text-gray-600 hover:text-gray-900" href="<%= relative_url '/posts' %>">Blog</a>
      </div>

      <div class="pb-6">
        <a class="text-sm leading-6 text-gray-600 hover:text-gray-900" href="mailto:<%= metadata.email %>">Contact Me</a>
      </div>
    </nav>
    <div class="mt-10 flex justify-center space-x-10">
      <% site.data.links.each do |title, social| %>
        <a href="<%= social %>" aria-label="<%= title %>" class="group -m-1 p-1">
          <span class="sr-only"><%= title %></span>
          <svg class="h-6 w-6" fill="currentColor" viewBox="0 0 24 24" aria-hidden="true">
            <%= svg "/images/icons/#{title}.svg", class: "h-6 w-6 fill-zinc-400 transition group-hover:fill-zinc-600" %>
          </svg>
        </a>
      <% end %>
    </div>
    <p class="mt-10 text-center text-xs leading-5 text-gray-500">jake &copy; 2023</p>
  </div>
</footer>
